<div class="col-xs-12 col-sm-8 col-md-9 content-column">

{{ if eq .Section "home" }}
  <h2 class="section-heading">Featured</h2>
  <div class="grid">
      <div class="row">
        {{ range where .Data.Pages "Params.recent" true }}
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 masonry-item">
                <div class="box-masonry">
                  {{ $targetURL := (or .Params.overrideLink .Permalink)}}

                  {{ if and (isset .Params "image") .Params.image }}
                    {{ if eq .Params.showonlyimage true }}
                      <a href="{{ $targetURL }}" title="" class="box-masonry-image with-hover-overlay">
                    {{ else }}
                      <a href="{{ $targetURL }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                    {{ end }}
                        <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                    </a>
                  {{ end }}

                  <div class="box-masonry-text">
                    <h4><a href="{{ $targetURL }}"> {{ .Title }} <span class="item-year">{{ .Date.Format "2006" }}</span></a></h4>
                  </div>
                </div>
            </div>
        {{ end }}
      </div>
  </div>

  <h2 class="section-heading">More Work</h2>
  <div class="grid">
      <div class="row">
        {{ range .Data.Pages }}
          {{ if and (ne .Params.recent true) (not (in .Params.categories "wave")) }}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 masonry-item">
                <div class="box-masonry">
                  {{ $targetURL := (or .Params.overrideLink .Permalink)}}

                  {{ if and (isset .Params "image") .Params.image }}
                    {{ if eq .Params.showonlyimage true }}
                      <a href="{{ $targetURL }}" title="" class="box-masonry-image with-hover-overlay">
                    {{ else }}
                      <a href="{{ $targetURL }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                    {{ end }}
                        <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                    </a>
                  {{ end }}

                  <div class="box-masonry-text">
                    <h4><a href="{{ $targetURL }}"> {{ .Title }} <span class="item-year">{{ .Date.Format "2006" }}</span></a></h4>
                  </div>
                </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
  </div>

  <h2 class="section-heading">Virtual Production</h2>
  <div class="grid">
      <div class="row">
        {{ range .Data.Pages }}
          {{ if in .Params.categories "wave" }}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 masonry-item">
                <div class="box-masonry">
                  {{ $targetURL := (or .Params.overrideLink .Permalink)}}

                  {{ if and (isset .Params "image") .Params.image }}
                    {{ if eq .Params.showonlyimage true }}
                      <a href="{{ $targetURL }}" title="" class="box-masonry-image with-hover-overlay">
                    {{ else }}
                      <a href="{{ $targetURL }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                    {{ end }}
                        <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                    </a>
                  {{ end }}

                  <div class="box-masonry-text">
                    <h4><a href="{{ $targetURL }}"> {{ .Title }} <span class="item-year">({{ .Date.Format "2006" }})</span></a></h4>
                  </div>
                </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
  </div>
{{ else }}
  <div class="grid">
      <div class="row">
        {{ range .Data.Pages }}
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 masonry-item">
                <div class="box-masonry">
                  {{ $targetURL := (or .Params.overrideLink .Permalink)}}

                  {{ if and (isset .Params "image") .Params.image }}
                    {{ if eq .Params.showonlyimage true }}
                      <a href="{{ $targetURL }}" title="" class="box-masonry-image with-hover-overlay">
                    {{ else }}
                      <a href="{{ $targetURL }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                    {{ end }}
                        <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                    </a>
                  {{ end }}

                  <div class="box-masonry-text">
                    <h4><a href="{{ $targetURL }}"> {{ .Title }} <span class="item-year">{{ .Date.Format "2006" }}</span></a></h4>
                  </div>
                </div>
            </div>
        {{ end }}
      </div>
  </div>
{{ end }}
</div>
