<div id="sidebar" class=" col-sm-4 col-md-2 sidebar-offcanvas d-xs-block">
    <br>
  <div class="sidebar-content">
    <h1 class="sidebar-heading">
      <a href="{{ .Site.BaseURL }}">
        {{ .Site.Title }}
      </a> 
    </h1>
    <br>
    {{ partial "social_buttons_in_sidebar.html" . }}
    <br>

    <ul class="sidebar-links">
      {{ range .Site.Params.navlinks }}
        <a href="{{ absURL .url }}">
            <li>{{ .url }} </li>
        </a> 
      {{ end }}
    </ul>
    <br>
      <!-- {{ range .Site.Params.sidebarAbout }} -->
      <!-- <p class="sidebar-p">{{ . | safeHTML }}</p> -->
    <!-- {{ end }} -->

    <ul class="sidebar-menu">
      {{ range .Site.Taxonomies.categories.ByCount }}
        {{ $active := (eq .Name $.Title) }}
        <a  href="/categories/{{ .Name }}">
          <li class="{{ if $active }}active{{ end }}">{{ .Name }} {{ .Count }} </li>
        </a>
      {{ end }}
    </ul>


  </div>
</div>
 