<div id="sidebar" class="col-xs-5 col-sm-4 col-md-2 sidebar-offcanvas">
  <div class="sidebar-content">
    <h1 class="sidebar-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    {{ partial "social_buttons_in_sidebar.html" . }}

      {{ range .Site.Params.navlinks }}
        <a href="{{ absURL .url }}">{{ .name }}</a> // </li>
      {{ end }}
      <!-- {{ range .Site.Params.sidebarAbout }} -->
      <!-- <p class="sidebar-p">{{ . | safeHTML }}</p> -->
    <!-- {{ end }} -->

    <ul class="sidebar-menu">
      {{ range .Site.Taxonomies.categories.ByCount }}
        {{ $active := (eq .Name $.Title) }}
        <a  href="{{ .Page.Permalink }}">
          <li class="{{ if $active }}active{{ end }}">{{ .Name }} {{ .Count }} </li>
        </a>
      {{ end }}
    </ul>


  </div>
</div>
 