{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  <div class="row">

<br><br><br>
    <div class="col-lg-12">
      <div class="content-column-content">
         <pageTitle>{{ .Title }}</pageTitle>
         <h3>{{ .Date.Format "Jan 2006"}}</h3>
         {{ .Content }}
        
      </div>
    </div>
    <hr>
    <br>
    <br>
    <h1>Related:</h1>
    {{ range .Site.RegularPages.Related . }}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
        <div class="box-masonry">
              <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
              <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
              </a>
            <div class="box-masonry-text">
              <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            </div>
        </div>
    </div>
  {{ end }} 

  </div>
</div>
{{ end }}
